* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 2rem;
  font-family: consolas;
  background-color: rgb(58, 112, 103);
}
.startscreen {
  width: 54rem;
  height: 38rem;
  background-color: burlywood;
  border: 12px solid rgb(50, 20, 20);
  color: rgb(50, 20, 20);
  cursor: url(./images/hammer.png), auto;
}
.startscreen .title {
  margin-top: 1.8rem;
  height: 27.5%;
}
.startscreen .startButtons {
  height: 17%;
  display: grid;
  place-items: center;
  margin-top: 3.3rem;
}
.startscreen .startButtons button {
  background-color: rgb(50, 20, 20);
  color: rgb(210, 165, 105);
  font-size: 1.75rem;
  padding: 1rem 2rem;
  border: 4px solid rgb(115, 52, 52);
}

.startscreen .difficulty {
  height: 45%;
}
.startscreen .theMoles {
  border: 6px solid rgb(0, 0, 0);
  display: inline-flex;
  justify-content: center;
  height: 50%;
  padding: 0 0 1.5rem;
  border-radius: 0.5rem;
}
.startscreen .aMole {
  display: grid;
  padding: 2.1rem 1rem;
  border-right: 3px solid black;
}
.startscreen .easy {
  background-image: url(./images/rainbows2.png);
  padding-bottom: 8rem;
}
.startscreen .normal {
  background-image: url(./images/normalgrass.png);
  padding-bottom: 8rem;
}
.startscreen .hard {
  background-image: url(./images/grass.jpg);
  padding-bottom: 8rem;
}
.startscreen .insane {
  background-image: url(./images/night.jpg);
  padding-bottom: 8rem;
}
.startscreen button {
  cursor: url(./images/hammer.png), auto;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  outline: none;
  border: 3px solid black;
}
.startscreen .easy button {
  color: pink;
  background-color: rgb(64, 63, 63);
}
.startscreen .normal button {
  color: burlywood;
  background-color: rgb(64, 63, 63);
}
.startscreen .hard button {
  color: rgb(78, 196, 0);
  background-color: rgb(44, 44, 44);
}
.startscreen .insane button {
  color: rgb(183, 0, 0);
  background-color: rgb(44, 44, 44);
  /* border: 3px solid rgb(183, 0, 0); */
}

.startscreen button:active {
  cursor: url(./images/hammered.png), auto;
}

.gamestartcontainer {
  /* height: 70vh;
  width: 55vw; */
  padding: 1rem 2rem;
  border: 10px solid rgba(245, 245, 245, 0.886);
  background-color: rgb(50, 20, 20);
  color: rgba(245, 245, 245, 0.886);
  cursor: url(./images/hammer.png), auto;
}

.hammerdown {
  cursor: url(./images/hammered.png), auto;
}

.container ul {
  background-color: rgb(83, 36, 36);
  border: 1px solid burlywood;
}

.container ul li {
  background-color: burlywood;
}

.container .grid {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 6rem);
  gap: 1rem;
  list-style-type: none;
}

.container .cell {
  display: grid;
  place-items: center;
  width: 100%;
  height: 6rem;
}

.container p {
  padding-bottom: 0.6rem;
}

.container .easymole {
  background-image: url(./images/gameeasy.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.container .normalmole {
  background-image: url(./images/mole.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.container .hardmole {
  background-image: url(./images/gamehard.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.container .insanemole {
  background-image: url(./images/gameinsane.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.container .miss {
  background-image: url(./images/dirt.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.container .hit {
  background-image: url(./images/bam.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
  * {
    font-size: 7px;
  }
  .mole {
    background-image: url(./images/mole.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .miss {
    background-image: url(./images/dirt.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.easySelect {
  background-color: pink !important;
  color: rgb(202, 70, 92) !important ;
  border: 3px solid rgb(202, 70, 92) !important;
  font-weight: 600;
}
.normalSelect {
  background-color: rgb(188, 150, 99) !important;
  color: rgb(83, 36, 36) !important;
  border: 3px solid rgb(83, 36, 36) !important;
}
.hardSelect {
  background-color: rgb(110, 255, 99) !important;
  color: rgb(52, 129, 0) !important;
  border: 3px solid rgb(52, 129, 0) !important;
}
.insaneSelect {
  background-color: rgb(80, 0, 0) !important;
  color: rgb(183, 0, 0) !important;
  border: 3px solid rgb(183, 0, 0) !important;
}

.container #scoreDiv {
  display: flex;
  justify-content: space-evenly;
}

.returnmain {
  background-color: rgb(83, 36, 36);
  border: 0;
  outline: 0px solid black;
  padding: 0;
  border-radius: 50%;
  cursor: url(./images/hammer.png), auto;
}
.returnmain:active {
  cursor: url(./images/hammered.png), auto;
}

.container .gamebottom {
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding-top: 1rem;
  margin-bottom: -0.5rem;
}

.container .gamebottom h3 {
  justify-content: space-around;
  /* border: 2px solid green; */
  width: 100%;
  position: relative;
  left: 1rem;
  bottom: 3px;
}
