* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 2rem;
  font-family: consolas;
  background-color: rgb(58, 112, 103);
}
.startscreen {
  width: 54rem;
  height: 38rem;
  background-color: burlywood;
  border: 12px solid rgb(50, 20, 20);
  color: rgb(50, 20, 20);
  cursor: url(./images/hammer.png), auto;
}
.startscreen .title {
  margin-top: 1.8rem;
  height: 30%;
}
.startscreen .startButtons {
  height: 17%;
  /* border: 2px solid red; */
  display: grid;
  place-items: center;
}
.startscreen .startButtons button {
  background-color: rgb(50, 20, 20);
  color: rgb(210, 165, 105);
}

.startscreen .difficulty {
  height: 45%;
  margin-top: 3rem;
}
.startscreen .theMoles {
  border: 5px solid rgb(0, 0, 0);
  display: inline-flex;
  justify-content: center;
  height: 50%;
  padding: 0 0 1.5rem;
  border-radius: 0.5rem;
}
.startscreen .aMole {
  /* border: 2px solid rgb(0, 0, 0); */
  display: grid;
  padding: 2.1rem 1rem;
  /* border-radius: 1rem; */
  border-right: 3px solid black;
}
.startscreen .easy {
  background-image: url(./images/rainbows2.png);
  padding-bottom: 8rem;
}
.startscreen .normal {
  background-image: url(./images/normalgrass.png);
  padding-bottom: 8rem;
}
.startscreen .hard {
  background-image: url(./images/grass.jpg);
  padding-bottom: 8rem;
}
.startscreen .insane {
  background-image: url(./images/night.jpg);
  padding-bottom: 8rem;
}
.startscreen button {
  cursor: url(./images/hammer.png), auto;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  outline: none;
  border: 3px solid black;
}
.startscreen .easy button {
  color: pink;
  background-color: rgb(64, 63, 63);
}
.startscreen .normal button {
  color: burlywood;
  background-color: rgb(64, 63, 63);
}
.startscreen .hard button {
  color: rgb(78, 196, 0);
  background-color: rgb(44, 44, 44);
}
.startscreen .insane button {
  color: rgb(183, 0, 0);
  background-color: black;
  /* border: 3px solid rgb(183, 0, 0); */
}

.startscreen button:active {
  cursor: url(./images/hammered.png), auto;
}

.gamestartcontainer {
  /* height: 70vh;
  width: 55vw; */
  padding: 1rem 2rem;
  border: 10px solid rgba(245, 245, 245, 0.886);
  background-color: rgb(50, 20, 20);
  color: rgba(245, 245, 245, 0.886);
  cursor: url(./images/hammer.png), auto;
}

.hammerdown {
  cursor: url(./images/hammered.png), auto;
}

.container ul {
  background-color: rgb(83, 36, 36);
  border: 1px solid burlywood;
}

.container ul li {
  background-color: burlywood;
}

.container .grid {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 6rem);
  gap: 1rem;
  list-style-type: none;
}

.container .cell {
  display: grid;
  place-items: center;
  width: 100%;
  height: 6rem;
}

.container h3 {
  padding-bottom: 1rem;
}

.container p {
  padding-top: 1rem;
}

.container .mole {
  background-image: url(./images/mole.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.container .miss {
  background-image: url(./images/dirt.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.container .hit {
  background-image: url(./images/bam.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
  * {
    font-size: 7px;
  }
  .mole {
    background-image: url(./images/mole.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .miss {
    background-image: url(./images/dirt.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}
